name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  cache:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: 
          # - vllm-qianwen3
          - ollama-qianwen3
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Login
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: a1178615156
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
 
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.${{ matrix.dockerfile }}
          push: true
          platforms: linux/amd64
          tags: |
            registry.cn-hangzhou.aliyuncs.com/a1178615156/${{ matrix.dockerfile }}:latest
 
